:root {
  --white-color: #fff;
  --main-color: #ea4c89;
  --siderbar-color: #021056;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: changeColor linear 0.2s;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

@keyframes changeColor {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-body {
  margin: auto;
  width: 400px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: var(--white-color);
  position: relative;
  top: -200px;
  animation: slideFromTop ease-in 0.2s;
}

.modal-body.modal-book {
  width: 750px;
}
@keyframes slideFromTop {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
.modal.modal-active {
  display: flex;
}
.btn.btn-cancel {
  background-color: #ccc;
  color: #333;
}

.form-group.invalid input {
  border: 1px solid red;
}

.form-message {
  display: inline-block;
  margin-top: 5px;
  color: red;
}

.row {
  margin-right: 0;
}
