:root {
  --text-color: #333;
  --white-color: #fff;
  /* --main-color: #ee4d2d; */
  /* --main-color: #7b22ff; */
  --main-color: #ea4c89;
  --button-color: #ff434e;
  --star-color: #ffd52e;
  --success-color: #00ab56;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  outline: none;
  border: none;
  background-color: var(--white-color);
  /* color: var(--white-color); */
  font-size: 16px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity linear 0.2s;
  min-width: 100px;
}

.btn.active {
  background-color: var(--main-color);
  color: var(--white-color);
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
}

.modal-active {
  display: flex;
}

.form-message {
  display: inline-block;
  margin-top: 5px;
  color: red;
  font-size: 15px;
}

.form-group.invalid input {
  border: 1px solid red;
}

/* rewrite slider */
.slider .slick-next {
  right: 4px;
}
.slider .slick-prev {
  left: -1px;
  z-index: 10;
}
.slider .slick-next:before,
.slider .slick-prev:before {
  font-size: 25px;
  color: #fff;
}

.book-slider .slick-next:before,
.book-slider .slick-prev:before {
  font-size: 25px;
  color: #333;
}
.more-img .slick-next:before,
.more-img .slick-prev:before {
  font-size: 22px;
  color: var(--main-color);
}
/* .more-img .slick-prev {
  left: -13px;
}
.more-img .slick-next {
  right: -14px;
} */
.slick-dots {
  bottom: -2px;
  color: white;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots li.slick-active button:before {
  color: var(--white-color);
}
/* footer */
footer {
  margin-top: 5px;
}

.footer-content ul {
  list-style: none;
}

.footer-content ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 0px;
  color: #333;
  font-size: 16px;
  transition: color linear 0.2s;
}
.footer-content ul li a:hover {
  color: var(--main-color);
}
.payment {
  margin-top: 5px;
  display: flex;
}
.payment i {
  font-size: 30px;
}
.payment p {
  border: 1px solid #ccc;
  margin-left: 10px;
  font-weight: bold;
  line-height: 28px;
  padding: 0 5px;
  border-radius: 5px;
  color: var(--main-color);
}
.link-us {
  margin-top: 5px;
}
.link-us a {
  font-size: 20px;
  padding-left: 7px;
}

.link-us a .icon-facebook {
  color: blue;
}

.link-us a .icon-youtube {
  color: red;
}

.link-us a .icon-mail {
  color: #333;
}
