/* Header */
header {
  background-color: #1a94ff;
  border-bottom: 1px solid rgb(241, 241, 241);
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  height: 100px;
}
.nav-logo {
  width: 205px;
}
.nav-logo a {
  display: inline-block;
  text-decoration: none;
  color: var(--white-color);
  font-family: "Work Sans", sans-serif;
  padding: 15px 0;
}
.nav-logo a img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.nav-search {
  flex: 1;
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.nav-search-wrap {
  width: 100%;
}

.nav-search-wrap input {
  width: 100%;
  height: 100%;
  padding: 7px 7px;
  font-size: 17px;
  border: none;
  outline: none;
}

.btn-search {
  padding: 8px 15px;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: opacity linear 0.2s;
  min-width: 100px;
}
.btn-search:hover {
  opacity: 0.9;
}

.nav-auth {
  display: flex;
  margin: 0 12px;
  cursor: pointer;
  position: relative;
}
.nav-auth-icon {
  font-size: 30px;
  color: var(--white-color);
}
.nav-auth-text {
  margin-left: 10px;
  font-size: 13px;
  color: var(--white-color);
}
/* Auth */
.nav-auth-body {
  width: 250px;
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--white-color);
  padding-bottom: 10px;
  border-radius: 3px;
  display: none;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
.nav-auth:hover .nav-auth-body {
  display: block;
}
.nav-auth-body::before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -18px;
  left: 50%;
  transform: translateX(-50%);
}
.nav-auth-body::after {
  content: "";
  display: block;
  position: absolute;
  height: 15px;
  width: 100%;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}

.btn-auth {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  margin: 10px 10px 0;
  padding: 8px 15px;
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: var(--white-color);
  font-size: 17px;
  font-weight: 500;
  border-radius: 3px;
  cursor: pointer;
  transition: opacity linear 0.2s;
  width: calc(100% - 20px);
}
.btn-auth:hover {
  opacity: 0.8;
}
.btn-account:first-child {
  margin-top: 10px;
}

.btn-account {
  display: inline-block;
  text-decoration: none;
  padding: 8px 20px;
  outline: none;
  border: none;
  color: #333;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  transition: all linear 0.2s;
}

.btn-account:hover {
  background-color: #ededed;
}
.nav-auth-text .account {
  margin-top: 5px;
}

.nav-auth-text .account .account-icon {
  margin-left: 3px;
  position: relative;
  top: -2px;
}
/* auth-content */

.auth-content {
  margin: auto;
  position: relative;
  top: -200px;
  background-color: var(--white-color);
  width: 400px;
  padding: 30px 37px;
  border-radius: 3px;
}
form {
  position: relative;
}
form h3 {
  text-align: center;
}

form .login-fail {
  text-align: center;
  padding: 7px;
  color: red;
  font-size: 16px;
  display: none;
}

.form-group {
  margin-top: 10px;
}
.form-group label {
  display: inline-block;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-group label::after {
  margin-left: 3px;
  font-size: 17px;
  content: "*";
  color: red;
}
.form-group input {
  width: 100%;
  font-size: 17px;
  padding: 5px 7px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 3px;
}
.form-group input:focus {
  border: 1px solid #333;
}
.btn.btn-submit {
  margin-top: 10px;
  width: 100%;
  background-color: var(--main-color);
  color: var(--white-color);
}

.modal {
  display: none;
}

.modal-active {
  display: flex;
}

#form-login,
#form-register {
  display: none;
}

.btn-close-form {
  position: absolute;
  top: -20px;
  right: -20px;
  padding: 5px 10px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* nav-cart */
.nav-cart {
  position: relative;
  cursor: pointer;
}

.nav-cart-icon a {
  text-decoration: none;
  font-size: 22px;
  color: var(--white-color);
}

.nav-cart-icon a span {
  margin-left: 10px;
  font-size: 14px;
  color: var(--white-color);
}

/* cart label */

.nav-cart-success {
  background-color: var(--white-color);
  padding: 15px;
  border-radius: 4px;
  position: absolute;
  width: 270px;
  right: 0;
  top: calc(100% + 10px);
  display: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.nav-cart-success.cart-active {
  display: block;
}

.nav-cart-success:before {
  content: "";
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent var(--white-color) transparent;
  top: -20px;
  right: 20px;
}

.nav-cart-success p {
  font-size: 13px;
  font-weight: 300;
}

p .nav-cart-success-icon {
  color: #4caf50;
  font-size: 17px;
}
.btn.btn-view-cart {
  display: block;
  text-decoration: none;
  background-color: var(--button-color);
  color: var(--white-color);
  margin-left: 0;
  margin-top: 10px;
  font-size: 16px;
  width: 100%;
}
.cart-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 8px;
  color: #333;
  cursor: pointer;
}
/* cart quantity */
.nav-cart-quantity {
  font-size: 13px;
  font-weight: 500;
  position: absolute;
  top: -8px;
  left: 16px;
  padding: 3px 7px;
  border-radius: 50%;
  background-color: #fdd835;
}

/* Main */

main {
  min-height: calc(100vh - 100px);
  background-color: #f5f5fa;
  padding-bottom: 10px;
}

.container {
  padding-top: 10px;
}
/* for book detail */
.container-detail {
  background-color: var(--white-color);
  border-radius: 3px;
}

.sidebar {
  border: 1px solid #555;
  background-color: var(--white-color);
  border-radius: 3px;
  padding: 5px 0;
}
.sidebar h2 {
  padding: 5px;
  border-bottom: 1px solid #ccc;
}

.sidebar ul {
  padding-left: 15px;
  padding-bottom: 15px;
  list-style: none;
}

.sidebar ul li {
  margin-top: 15px;
  transition: padding-left linear 0.2s;
}

.sidebar ul li a {
  border: 1px solid var(--success-color);
  padding: 3px;
  border-radius: 3px;
  position: relative;
  text-decoration: none;
  color: var(--text-color);
  font-size: 17px;
  font-weight: 700;
}

.active a:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  border: 5px solid;
  border-color: transparent transparent transparent var(--main-color);
  transform: translateY(-50%);
}
.sidebar ul .active a {
  color: var(--main-color);
}

.sidebar ul li:hover {
  padding-left: 7px;
}

/* content */
.content {
  height: 630px;
}
.item {
  display: block;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  background-color: var(--white-color);
  border-radius: 4px;
  overflow: hidden;
  transition: all linear 0.2s;
}

.item:hover {
  transform: translateY(-1px);
}

.item img {
  width: 100%;
  height: 210px;
  object-fit: fill;
  object-position: center;
}

.item-body {
  padding: 5px 15px;
}
.item-price {
  margin-top: 5px;
  font-size: 15px;
  color: var(--main-color);
}

.item-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-rate__heart i {
  font-size: 14px;
}

.item-rate__star i {
  font-size: 12px;
}
.item-author {
  padding: 5px 0 5px 5px;
  float: right;
  font-size: 15px;
}

.item h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; */
  font-size: 15px;
}
/* pagination */

.pagination {
  /* margin-top: 50px; */
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.pagination ul {
  display: flex;
  list-style: none;
}

.pagination ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 4px;
}

.pagination ul li a:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}

/* homefilter */

.home-filter {
  display: flex;
  align-items: center;
  background-color: #ededed;
  padding: 5px 10px;
}

.btn {
  position: relative;
}

.btn + .btn {
  margin-left: 10px;
}

.btn-new {
  margin-left: 10px;
}

.btn-price-icon {
  float: right;
}

.btn-price .price-sort {
  display: none;
  position: absolute;
  width: 100%;
  top: calc(100% + 3px);
  left: 0;
  color: #333;
  z-index: 10;
}
.price-sort:before {
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  background-color: transparent;
  top: -10px;
  position: absolute;
}
.price-sort ul {
  background-color: var(--white-color);
  list-style: none;
}

.price-sort ul li {
  padding: 5px 5px;
  border-radius: 3px;
}

.price-sort ul li:hover {
  background-color: #ccc;
}

.btn-price:hover .price-sort {
  display: block;
}

/* heart icon */
.item-rate__heart .heart-icon-fill {
  display: none;
}
.item-rate__heart.heart-active .heart-icon {
  display: none;
}

.item-rate__heart.heart-active .heart-icon-fill {
  display: block;
}

/* book detail */

.book-detail-content {
  font-size: 18px;
}

.book-detail-img img {
  width: 100%;
  object-fit: cover;
  height: 345px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.book-detail-share {
  display: inline-block;
  margin: 10px 0;
}
.book-detail-share a {
  color: #333;
}
.detail-price {
  margin-top: 5px;
}

.detail-description {
  margin-top: 5px;
}

.detail-quantity {
  margin-top: 5px;
}

.detail-quantity button {
  padding: 5px 10px;
  background-color: var(--white-color);
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px;
}

.btn-addtocart {
  display: inline-block;
  margin-top: 15px;
  text-decoration: none;
}

.book-description h2 {
  padding: 10px;
}
.book-description p {
  padding: 0 10px 10px;
  font-size: 17px;
  line-height: 25px;
}
/* shopping cart */
.shopping-cart-wrap {
  display: flex;
  justify-content: space-between;
}

.shopping-cart-coupon {
  margin-top: 40px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: var(--white-color);
  border-radius: 5px;
}
.shopping-cart-coupon p {
  font-size: 16px;
  font-weight: bold;
  /* color: #3567d7; */
  color: var(--main-color);
}
.coupon-wrap {
  margin-top: 5px;
}
.coupon-wrap input {
  width: 100%;
  font-size: 14px;
  padding: 5px 7px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 5px;
}
.coupon-wrap input:focus {
  border: 1px solid #333;
}
.coupon-wrap button {
  margin-top: 10px;
  outline: none;
  font-size: 14px;
  font-weight: bolder;
  padding: 5px 10px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 20px;
  background-color: var(--while-color);
  cursor: pointer;
}

.shopping-cart-checkout {
  margin-top: 10px;
  padding: 20px;
  background-color: var(--white-color);
  border-bottom: 1px solid #f5f5f5;
  font-size: 17px;
}
.checkout-wrap {
  display: flex;
  justify-content: space-between;
}
.checkout-wrap span {
  color: #555;
  font-size: 16px;
}
.checkout-wrap + .checkout-wrap {
  margin-top: 10px;
}
.checkout-wrap .checkout-temp,
.checkout-wrap .checkout-coupon {
  color: #222;
}
.checkout-wrap .checkout-total {
  font-size: 20px;
  color: var(--main-color);
}
.shopping-cart-total {
  padding: 20px;
  background-color: var(--white-color);
}
.shopping-cart-action a {
  margin-top: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
}
/* table */

table {
  margin-top: 10px;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 5px;
}

th,
td {
  padding: 10px 20px;
  text-align: center;
}

td img {
  width: 100px;
  height: 120px;
  border-radius: 3px;
}

.btn-minus,
.btn-add {
  padding: 7px 10px;
  margin: 3px;
  background-color: var(--white-color);
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
.cart-price {
  font-weight: bold;
  color: var(--main-color);
}
.cart-quantity {
  display: inline-block;
  min-width: 18px;
}
.btn-delete {
  padding: 7px 10px;
  background-color: transparent;
  font-size: 17px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* relate title */
.relate-title {
  margin-top: 10px;
  background-color: var(--white-color);
  padding: 10px;
}
/* book slider */
.book-slider {
  position: relative;
  flex-wrap: nowrap;
  /* overflow: hidden; */
  background-color: var(--white-color);
  padding-bottom: 10px;
}

.slider-button {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.slider-button span {
  display: inline-block;
  padding: 6px 10px;
  background-color: #fafafa;
  border-radius: 50%;
}

.slider-button span:hover {
  background-color: #999;
}

/* slider dashboard */

.slider {
  overflow: hidden;
}

.banner {
  padding-top: 8px;
}

.banner-item {
  height: 75px;
  background-image: linear-gradient(
    to right,
    rgb(0, 126, 254),
    rgb(6, 195, 254)
  );
  text-align: center;
  padding-top: 20px;
  border-radius: 3px;
  color: var(--white-color);
}

.slider-item {
  padding: 10px 30px;
  color: var(--white-color);
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.slider-item p {
  line-height: 26px;
}

.slider-item button {
  padding: 5px 10px;
  border-radius: 20px;
  color: var(--white-color);
  font-size: 16px;
  font-weight: bold;
  outline: none;
  border: 2px solid var(--white-color);
  background-color: transparent;
  cursor: pointer;
}
.slider-item .btn-receive-coupon:hover {
  background-color: var(--white-color);
  color: rgb(5, 178, 255);
}

.slider-item .btn-register-voucher:hover {
  background-color: var(--white-color);
  color: rgb(255, 148, 2);
}

.slider-item-free-ship {
  background-image: linear-gradient(
    to right,
    rgb(118, 18, 255),
    rgb(5, 178, 255)
  );
}

.slider-item-voucher {
  background-image: linear-gradient(
    to right,
    rgb(254, 33, 94),
    rgb(255, 148, 2)
  );
}

.slider-item-share {
  background-image: linear-gradient(
    to right,
    rgb(0, 126, 254),
    rgb(6, 195, 254)
  );
}

/* Comment */
.comment {
  background-color: var(--white-color);
  border-radius: 3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.comment h2 {
  padding: 10px;
}
.comment-body {
  padding: 15px 50px;
  border-bottom: 1px solid #f5f5f5;
}
.rating-summary-head {
  display: flex;
}

.rating-summary-head h1 {
  margin-right: 10px;
}

.rating-summary-total .rating-star i {
  color: #ffd52e;
  /* border: 1px solid #ffa64a; */
}

.rating-summary-total p {
  margin-top: 3px;
  color: #555;
}

.rating-summary-body {
  margin-top: 10px;
}

.rating-summary-group {
  display: flex;
  align-items: center;
}

.rating-summary-group .rating-star i {
  color: var(--star-color);
  font-size: 12px;
}

.rating-summary-group span {
  font-size: 12px;
  color: #555;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 0 10px;
  overflow: hidden;
  border-radius: 7px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 7px;
  height: 7px;
  background: #333;
  cursor: pointer;
  box-shadow: -200px 0 0 200px #333;
}

/* btn-filter-comment */
.btn-filter {
  padding: 7px 12px;
  background-color: #f5f5fa;
  outline: none;
  border: none;
  border-radius: 20px;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.btn-filter i {
  font-size: 14px;
}

/* comment-content */
.comment-detail-head {
  display: flex;
  align-items: center;
}

.customer-image {
  text-align: center;
  margin-right: 10px;
  background-color: #f5f5f5;
  color: #555;
  padding: 15px;
  border-radius: 50%;
  font-weight: bold;
}
.customer-name p {
  margin-top: 5px;
  color: #555;
}
.comment-detail-body p {
  margin-top: 15px;
  color: #555;
}

.comment-detail-body p span {
  color: #222;
}

.content-head {
  display: flex;
  align-items: center;
}
.content-head .rating-star {
  color: var(--star-color);
}
.content-head .content-message {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.content-verify {
  color: var(--success-color);
  font-size: 15px;
}

.comment-detail-content p {
  margin-top: 10px;
}
.content-date {
  color: #555;
}
.content-button {
  margin-top: 10px;
}
.content-button button {
  border: 1px solid #1278e6;
  color: #1278e6;
  font-size: 14px;
  font-weight: bold;
}

/* Cart checkout */
.checkout {
  padding-top: 10px;
  padding-bottom: 20px;
}

.cart-back {
  /* color: #7c75e5; */
  color: var(--main-color);
  font-size: 18px;
  text-decoration: none;
}

.checkout h2 {
  margin: 15px 3px;
}
.address-group,
.payment-group,
.order-discount {
  margin: 10px 0;
  padding: 15px;
  background-color: var(--white-color);
  border-radius: 5px;
}
.address-group > input {
  font-size: 22px;
}
.name-group {
  display: flex;
  justify-content: space-between;
}
.name-group .form-group {
  flex-basis: 48%;
}
.name-group .form-group input {
  width: 100%;
}

.payment-group > input {
  font-size: 22px;
}
.address-group .cus-name {
  display: inline-block;
  margin-left: 5px;
  font-weight: bold;
}
.new-address {
  font-weight: bold;
}

#paypal-button {
  margin-top: 10px;
}
/* input code discount */
.order-discount input {
  width: 200px;
  padding: 7px 10px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
  border-radius: 3px;
}

/* your - order*/
.your-order {
  margin-top: 78px;
  padding: 0 30px 10px;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  background-color: var(--white-color);
}

.your-order > p {
  font-size: 17px;
  padding: 20px 0;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}
.order-list {
  max-height: 366px;
  overflow-y: auto;
}
.order-item {
  padding: 10px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;
}
.order-item img {
  width: 80px;
  height: 100px;
  border-radius: 2px;
}
.order-group {
  margin-left: 30px;
}
.order-title {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}
.order-author {
  font-size: 16px;
  margin: 5px 0;
  color: #555;
}

.order-price {
  font-size: 17px;
  font-weight: bold;
}

.order-quantity {
  color: #555;
}
/* order ship */
.order-ship {
  padding-left: 35px;
  padding-right: 35px;
}
.delivery,
.discount {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.delivery-cost,
.discount-cost {
  /* display: inline-block;
  margin-left: 80px; */
  font-weight: bold;
}

.order-total {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  font-weight: bold;
  background-color: #fafafa;
  padding: 7px 0;
  border-radius: 10px;
}

/* account */
.account-wrap {
  display: flex;
  align-items: center;
}

.account-avatar {
  background-color: #ccc;
}
.account-info span {
  font-size: 14px;
  color: #555;
}
.account-info p {
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
.account-list {
  margin-top: 10px;
  list-style: none;
}

.account-item a {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 15px;
  font-size: 16px;
  color: #555;
}

.account-item a .account-icon {
  font-size: 17px;
  margin-right: 15px;
}

.account-item a:hover {
  background-color: #ebebf1;
}

.account-container {
  padding-top: 35px;
}

/* account info */
.account-info-person > h3 {
  margin-bottom: 10px;
}
.info-title {
  text-align: left;
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}
#form-info,
.more-info {
  padding: 10px;
  width: 100%;
  background-color: var(--white-color);
}
.form-group-info {
  margin-top: 20px;
}
.form-group-info label {
  display: inline-block;
  min-width: 170px;
}
.form-group-info input {
  font-size: 17px;
  padding: 5px 7px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-group-button {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.phone-wrap,
.email-wrap {
  display: flex;
  align-items: center;
}

.phone-wrap div,
.email-wrap div {
  margin-left: 10px;
}

.phone-wrap div p + p,
.email-wrap div p + p {
  margin-top: 5px;
}
.phone-info,
.email-info {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.phone-info {
  border-bottom: 1px solid #f5f5f5;
}

.btn-update-info {
  font-size: 16px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 7px;
  background-color: var(--white-color);
  padding: 5px 7px;
  cursor: pointer;
}

/* order info */
.account-body {
  margin-top: 10px;
  min-height: 400px;
  background-color: var(--white-color);
}
